#bui {
  /* ------------------------------------------------------------------------ */
  /* Styles                                                                   */
  /* ------------------------------------------------------------------------ */

  /* Optgroup */
  .mat-mdc-optgroup {
    display: flex;
    flex-direction: column;
    row-gap: var(--optgroup-gap-y);

    /* Label */
    .mat-mdc-optgroup-label {
      font-family: var(--optgroup-font-family);
      font-feature-settings: var(--optgroup-font-feature-settings);
      font-optical-sizing: var(--optgroup-font-optical-sizing);
      -webkit-font-smoothing: var(--optgroup-font-smoothing);

      font-size: var(--optgroup-font-size);
      line-height: var(--optgroup-line-height);
      font-weight: var(--optgroup-font-weight);
      letter-spacing: var(--optgroup-letter-spacing);

      min-height: 0;
      padding: 0;
      color: var(--optgroup-text-color);
      margin-inline: var(--optgroup-label-margin-inline);
      margin-block: var(--optgroup-label-margin-block);

      &.mdc-list-item--disabled {
        opacity: 1;
        color: var(--optgroup-text-color-disabled);
      }
    }

    /* With divider */
    &.with-divider {
      /* Label */
      .mat-mdc-optgroup-label {
        padding-block-start: calc(2 * var(--optgroup-label-margin-block));
        border-top: 1px solid var(--optgroup-divider-color);
      }
    }

    /* No label */
    &.no-label {
      .mat-mdc-optgroup-label {
        padding-block-start: 0;

        .mdc-list-item__primary-text {
          display: none;
        }
      }

      /* Remove margin if not used together with ".with-divider" */
      &:not(.with-divider) {
        .mat-mdc-optgroup-label {
          margin: 0;
        }
      }
    }
  }

  /* Option */
  .mat-mdc-option,
  .mat-mdc-optgroup .mat-mdc-option {
    display: flex;
    align-items: center;
    flex-shrink: 0;

    font-family: var(--option-font-family);
    font-feature-settings: var(--option-font-feature-settings);
    font-optical-sizing: var(--option-font-optical-sizing);
    -webkit-font-smoothing: var(--option-font-smoothing);

    font-size: var(--option-font-size);
    line-height: var(--option-line-height);
    font-weight: var(--option-font-weight);
    letter-spacing: var(--option-letter-spacing);

    min-height: 0;
    border-radius: var(--option-border-radius);

    color: var(--option-text-color);

    /* Paddings */
    /* Single select */
    &:not(.mat-mdc-option-multiple) {
      padding-inline: var(--option-padding-inline);
      padding-block: var(--option-padding-block);

      .mat-pseudo-checkbox {
        margin-inline-start: var(--option-checkbox-spacer);
      }
    }

    /* Multi select */
    &.mat-mdc-option-multiple {
      padding-inline: var(--option-padding-inline);
      padding-block: var(--option-padding-block);

      .mat-pseudo-checkbox {
        margin-inline-end: var(--option-checkbox-spacer);
      }
    }

    /* Disable ripple */
    .mat-ripple {
      display: none;
    }

    /* Pseudo checkbox alignment */
    .mat-pseudo-checkbox {
      padding: 0;
      margin: 0;
    }

    /* Icon */
    .mat-icon {
      font-size: var(--option-icon-size);
      width: var(--option-icon-size);
      height: var(--option-icon-size);
      margin-inline-end: var(--option-content-gap-x);
    }

    /* Content */
    .mdc-list-item__primary-text {
      display: flex;
      align-items: center;
      column-gap: var(--option-content-gap-x);

      /* Anything that also goes into the content like images or SVGs */
      & > * {
        flex-shrink: 0;
      }
    }

    /* Disabled */
    &.mdc-list-item--disabled {
      .mdc-list-item__primary-text > * {
        opacity: var(--option-extra-items-opacity-disabled);
      }

      & > mat-icon {
        opacity: 1;
        color: var(--option-text-color-disabled);
      }
    }

    /* Not disabled */
    &:not(.mdc-list-item--disabled) {
      /* Hover */
      &:hover:not(.mat-mdc-option-active):not(.mdc-list-item--selected) {
        background: var(--option-bg-color-hover);
      }

      /* Selected */
      &.mdc-list-item--selected:not(.mat-mdc-option-multiple) {
        color: var(--option-text-color-selected);
        background: var(--option-bg-color-selected);

        & > mat-icon {
          opacity: 1;
          color: var(--option-text-color-selected);
        }
      }
    }

    /* Active */
    &.mat-mdc-option-active:not(.mdc-list-item--selected) {
      background: var(--option-bg-color-active);
    }
  }

  /* Optgroup option inline inset */
  .mat-mdc-optgroup .mat-mdc-option:not(.mat-mdc-option-multiple) {
    padding-inline-start: var(--option-padding-inline-inset);
  }

  /* Pseudo checkbox */
  .mat-pseudo-checkbox {
    /* Minimal */
    &.mat-pseudo-checkbox-minimal {
      width: var(--pseudo-checkbox-size);
      height: var(--pseudo-checkbox-size);

      &.mat-pseudo-checkbox-checked {
        &:after {
          all: unset;
        }

        &:before,
        &:after {
          content: '';
          position: absolute;
          border-radius: 9999px;
          background: var(--pseudo-checkbox-single-color);
        }

        /* Short part */
        &:before {
          width: var(--pseudo-checkbox-single-short-part-width);
          height: var(--pseudo-checkbox-single-short-part-height);
          top: var(--pseudo-checkbox-single-top);
          left: var(--pseudo-checkbox-single-left);

          transform-origin: right
          calc(
            var(--pseudo-checkbox-single-short-part-height) -
            var(--pseudo-checkbox-single-short-part-width)
          );
          transform: rotate(-35deg);
        }

        /* Long part */
        &:after {
          width: var(--pseudo-checkbox-single-long-part-width);
          height: var(--pseudo-checkbox-single-long-part-height);
          top: calc(
            var(--pseudo-checkbox-single-top) +
            var(--pseudo-checkbox-single-short-part-height) -
            var(--pseudo-checkbox-single-long-part-height)
          );
          left: calc(var(--pseudo-checkbox-single-left));

          transform-origin: var(--pseudo-checkbox-single-short-part-width) 0;
          transform: rotate(-50deg);
        }
      }
    }

    /* Full */
    &.mat-pseudo-checkbox-full {
      isolation: isolate;
      width: var(--pseudo-checkbox-size);
      height: var(--pseudo-checkbox-size);

      border-width: 1px;
      border-style: solid;
      border-color: transparent;

      border-radius: var(--pseudo-checkbox-full-border-radius);

      /* Checkbox background implemented as the 'before' pseudo element */
      &:before {
        content: '';
        position: absolute;
        inset: 0;
        z-index: -10;
        pointer-events: none;
        background: var(--pseudo-checkbox-full-bg-color);
        border-radius: calc(var(--pseudo-checkbox-full-border-radius) - 1px);
        box-shadow:
          0 1px 3px 0 var(--pseudo-checkbox-full-shadow-color),
          0 1px 2px -1px var(--pseudo-checkbox-full-shadow-color);
      }

      /* Default state */
      &:not(.mat-pseudo-checkbox-disabled):not(.mat-pseudo-checkbox-checked) {
        /* Border color as the checkbox background to avoid corner rendering
           issues and better shadow/background-color blending. */
        background: var(--pseudo-checkbox-full-border-color);

        /* Hover */
        &:hover {
          background: var(--pseudo-checkbox-full-border-color-hover);
        }
      }

      /* Checked */
      &.mat-pseudo-checkbox-checked {
        background: var(--pseudo-checkbox-full-border-color-checked);

        &:before {
          background: var(--pseudo-checkbox-full-bg-color-checked);
        }

        /* Checkmark */
        &:after {
          border-color: var(--pseudo-checkbox-full-icon-color-checked);
        }

        &:after {
          width: 8px;
          height: 3px;
          top: -1.8284271247px;
        }
      }

      /* Disabled */
      &.mat-pseudo-checkbox-disabled {
        opacity: 1;
        border-color: var(--pseudo-checkbox-full-border-color-disabled);
        color: var(--pseudo-checkbox-full-icon-color-disabled);
        background: var(--pseudo-checkbox-full-bg-color-disabled);

        &:before {
          display: none;
        }

        /* Checkmark */
        &:after {
          border-color: var(--pseudo-checkbox-full-icon-color-disabled);
        }
      }

      /* Dark theme */
      .scheme-dark & {
        /* Hide the 'before' pseudo element */
        &:before {
          display: none;
        }

        /* Default state */
        &:not(.mat-pseudo-checkbox-disabled):not(.mat-pseudo-checkbox-checked) {
          background: var(--pseudo-checkbox-full-bg-color);
          border-color: var(--pseudo-checkbox-full-border-color);

          /* Hover */
          &:hover {
            border-color: var(--pseudo-checkbox-full-border-color-hover);
          }
        }
      }
    }
  }

  /* ------------------------------------------------------------------------ */
  /* Variables                                                                */
  /* ------------------------------------------------------------------------ */

  /* mat-optgroup */
  .mat-mdc-optgroup {
    /* Typography */
    --optgroup-font-family: var(--font-sans);
    --optgroup-font-feature-settings: var(--font-sans--font-feature-settings);
    --optgroup-font-optical-sizing: var(--font-optical-sizing);
    --optgroup-font-smoothing: var(--font-smoothing);

    --optgroup-font-size: var(--text-sm); /* 13px */
    --optgroup-line-height: var(--leading-5); /* 20px */
    --optgroup-font-weight: var(--font-weight-normal);
    --optgroup-letter-spacing: var(--tracking-normal);

    /* Size */
    --optgroup-gap-y: 0.125rem; /* 2px */
    --optgroup-label-margin-inline: 0.4375rem; /* 7px */
    --optgroup-label-margin-block: 0.375rem; /* 6px */

    /* Color */
    --optgroup-text-color: var(--color-neutral-a11);
    --optgroup-text-color-disabled: var(--color-neutral-a8);

    --optgroup-divider-color: var(--color-neutral-a4);
  }

  /* Option */
  .mat-mdc-option {
    /* Typography */
    --option-font-family: var(--font-sans);
    --option-font-feature-settings: var(--font-sans--font-feature-settings);
    --option-font-optical-sizing: var(--font-optical-sizing);
    --option-font-smoothing: var(--font-smoothing);

    --option-font-size: var(--text-base); /* 13px */
    --option-line-height: var(--leading-5); /* 20px */
    --option-font-weight: var(--font-weight-normal);
    --option-letter-spacing: var(--tracking-normal);

    /* Size */
    --option-border-radius: calc(var(--theme-border-radius) * 2 / 3);
    --option-content-gap-x: 0.5rem; /* 8px */
    --option-icon-size: 1rem; /* 16px */

    --option-padding-inline: 0.4375rem; /* 7px */
    --option-padding-block: 0.375rem; /* 6px */

    --option-padding-inline-inset: 1rem; /* 16px */

    --option-checkbox-spacer: 0.5rem; /* 8px */

    /* Color */
    --option-extra-items-opacity-disabled: 0.5;

    --option-text-color: var(--color-neutral-12);
    --option-text-color-selected: var(--color-primary-contrast);
    --option-text-color-disabled: var(--color-neutral-a8);

    --option-bg-color-hover: var(--color-neutral-a3);
    --option-bg-color-active: var(--color-neutral-a3);
    --option-bg-color-selected: var(--color-primary-9);

    /* Disabled */
    &.mdc-list-item--disabled {
      /* Pseudo checkbox color */
      .mat-pseudo-checkbox {
        --pseudo-checkbox-single-color: var(--color-neutral-a8);
      }
    }

    /* Not disabled */
    &:not(.mdc-list-item--disabled) {
      /* Selected */
      &.mdc-list-item--selected:not(.mat-mdc-option-multiple) {
        /* Pseudo checkbox color */
        .mat-pseudo-checkbox {
          --pseudo-checkbox-single-color: var(--color-primary-contrast);
        }
      }
    }
  }

  /* Pseudo checkbox */
  .mat-pseudo-checkbox {
    --pseudo-checkbox-size: 1rem; /* 16px */

    /* Minimal */
    &.mat-pseudo-checkbox-minimal {
      /* Size */
      --pseudo-checkbox-single-short-part-width: 0.09375rem; /* 1.5px */
      --pseudo-checkbox-single-short-part-height: 0.3125rem; /* 5px */

      --pseudo-checkbox-single-long-part-width: 0.625rem; /* 10px */
      --pseudo-checkbox-single-long-part-height: 0.09375rem; /* 1.5px */

      --pseudo-checkbox-single-top: 0.4375rem; /* 7px */
      --pseudo-checkbox-single-left: 0.3125rem; /* 5px */

      /* Color */
      --pseudo-checkbox-single-color: var(--color-neutral-12);
    }

    /* Full */
    &.mat-pseudo-checkbox-full {
      /* Size */
      --pseudo-checkbox-full-border-radius: min(
        calc(var(--theme-border-radius) * 2 / 3),
        0.375rem
      );

      /* Color */
      --pseudo-checkbox-full-icon-color-checked: var(--color-primary-contrast);
      --pseudo-checkbox-full-icon-color-disabled: light-dark(
        var(--color-neutral-a8),
        var(--color-neutral-a7)
      );

      --pseudo-checkbox-full-bg-color: light-dark(
        var(--color-white),
        var(--color-neutral-a3)
      );
      --pseudo-checkbox-full-bg-color-checked: var(--color-primary-9);
      --pseudo-checkbox-full-bg-color-disabled: light-dark(
        var(--color-neutral-a3),
        var(--color-neutral-a2)
      );

      --pseudo-checkbox-full-border-color: light-dark(
        var(--color-neutral-a7),
        var(--color-neutral-a6)
      );
      --pseudo-checkbox-full-border-color-hover: light-dark(
        var(--color-neutral-a8),
        var(--color-neutral-a7)
      );
      --pseudo-checkbox-full-border-color-checked: var(--color-primary-a10);
      --pseudo-checkbox-full-border-color-disabled: var(--color-neutral-a4);

      --pseudo-checkbox-full-shadow-color: var(--color-neutral-a5);
    }
  }
}
